body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
}

.file-input {
  margin-bottom: 20px;
  text-align: center;
}

input[type="file"] {
  display: none;
}

label {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  text-align: center;
}

input[type="submit"] {
  background-color: #008CBA;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

#results {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;  /* 如果需要垂直居中 */
}
#canvas {
  max-width: 100%;  /* 确保画布不超过容器宽度 */
}
